
.container-content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ef7039;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style: disc inside;
    margin-bottom: 15px;
}

ul li {
    margin-bottom: 10px;
}

